﻿@model List<EditUsersRoleViewModel>
@{ 
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h1>Add or remove users from this role</h1>
        </div>
        <div class="card-body">
            @for (int i = 0; i< Model.Count();i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId"/>
                    <input type="hidden" asp-for="@Model[i].UserName"/>
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].UserName.</label>
                </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <button asp-action="EditRole" asp-controller="Roles" asp-route-roleId="roleId" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</form>
