﻿@model CreateRoleViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" placeholder="Enter role name"/>
    </div>
    <button type="submit" class="btn btn-primary">Create Role</button>
</form>
