﻿body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#custom-padding {
    height: 5px;
    background-color: green;
}

#all-matches-div {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#manage-league {
    padding: 5px;
}

    #manage-league:hover {
        background-color: lightgrey;
    }

#manage-league-matches {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

    #manage-league-matches:hover {
        background-color: lightgrey;
    }

#select-options {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#user-favorite-leagues {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

#flex-row-my-leagues {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    background-color: sandybrown;
}

#my-leagues-div {
    display: flex;
    justify-content: left;
    width: 100%;
   /* padding-bottom: 5px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;*/
}

#my-leagues {
    font-weight: bold;
}

#my-leagues-div {
    background-color: sandybrown;
}

#my-leagues-inner-div {
    width: fit-content;
}


#left-div {
    width: 12vw;
    min-width: fit-content;
    background-color: lightgrey;
}

#middle-div{
    width: 50vw;
    padding-left: 1vw;
    padding-right: 1vw;
    /*height: 100vh;*/
}

#right-div {
    width: 5vw;
    background-color:pink;
    height: 100vh;
}

#main-content{
    background-color:white;
    padding: 1vw;
    width: 67vw;
}

#main{
    width: 100%;
}

#partial-body-content{
    width: 100%;
}





#logo {
    width: 55px;
    height: 55px;
}

#custom-dropdown-today-a {
    background-color: darkgreen;
    color: white;
}

#login {
    color: white;
}

#register {
    color: white;
    background-color: darkgreen;
    font-size: 19px;
}

#more-a:hover {
    cursor: pointer;
}

#calendar-img {
    width: 25px;
}

#calendar-div {
    background-color: green;
    color: white;
    cursor: pointer;
}

    #calendar-div:hover {
        background-color: darkgreen;
    }

#manageDates {
    margin-left: auto;
    background-color: white;
}

#my-leagues-star-img {
    width: 20px;
    height: 20px;
}

#bet365-promo {
    width: 100%;
    height: 50%;
}

.free-space {
    background-color: lightgrey;
    width: 17.5vw;
    height: 100vh;
}

.cross {
    display: none;
    position: absolute;
    right: 5px;
}

.cross-img {
    height: 8px;
    width: 8px;
    margin-left: 5px;
}

.column-special-container {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: left;
    background-color: lightgray;
}

.column-special-container-manage-league {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: left;
    width: fit-content;
    height: fit-content;
    border-style: groove;
    background-color: white;
    cursor: pointer;
}

.special-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-row-league {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

    .flex-row-league:hover {
        text-decoration: underline;
        background-color: darkgray;
    }


/*.body-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    width: fit-content;
}*/

.navbar {
    background-color: #077a0b;
    margin: 0px;
}

.dot {
    height: 20px;
    width: 20px;
    line-height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    font-size: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchesCount {
    margin: auto;
}

.text {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.sports {
    text-decoration: none;
    font-size: 19px;
    float: left;
}

    .sports:hover {
        background-color: darkgreen;
    }

.logoText {
    display: block;
    text-align: left;
}

.sportsImg {
    height: 20px;
    width: 30px;
}

.sports:hover {
    text-decoration: none;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.float-container {
    float: left;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.nav-item {
    margin: 5%;
}

.custom-dropdown {
    display: none;
    position: absolute;
    width: inherit;
}

.custom-dropdown-item {
    display: block;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px;
}

    .custom-dropdown-item a {
        text-decoration: none;
    }

    .custom-dropdown-item:hover {
        background-color: lightgray;
    }

.arrow {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .arrow:hover {
        background-color: gray;
        cursor: pointer;
    }

.arrow-img {
    width: 10px;
    height: 10px;
}


.dashes {
    margin-left: 250px;
}

.menu-item {
    font-size: 12px;
}

.menu {
    display: block;
    background-color: lightgray;
    min-width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

    .menu a {
        text-decoration: none;
    }

    .menu:hover {
        background-color: gray;
    }

